@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);

$theme-color: #3f0074;

body {
  width: 100%;
  height: 100%;
  background: url('../images/old_mathematics.png');
}

table {
  td, th {
    border: solid 1px #ccc;
    padding: 10px;
  }

  th {
    background-color: #eee;
    color: #000;
  }

  td {
    background-color: #fff;
  }

  margin-bottom: 1em;
  width: 100%;
}

#wrapper {
}

#header, #footer, #form, #results {
  @include row();
}

#header, #footer, #form, #results {
  &> div {
    @include column(12);
  }
}

#form, #results {
  &> div {
    background-color: #fff;
    padding: 10px;
    @include box-shadow(0 0 10px #888);
  }

  margin-bottom: 10px;
}

#header {
  h1 {
    text-align: center;
    font-weight: bold;
    color: #000;
    font-family: 'Fugaz One', cursive;
  }
}

div:first-of-type h2 {
  margin-top: -5px;
  padding-top: 0;
}

#footer {
  text-align: center;
  color: #999;
  margin-top: 1em;

  a {
    color: #666;
  }
}

.result {
  width: 10%;
}
