{% extends 'layout.html' %}

{% block content %}
    <div id="wrapper">
        <div id="header">
            <div><h1>{{ meta.title }}</h1></div>
        </div>
        
        <div id="form">
        	<div>
        		<h2>Current Grades</h2>
        		<p>What <em>percentage</em> of the module have you achieved so far?</p>
		    	<form>
					<ul>
						<li class="primary alert">
							Loading modules...
						</li>
					</ul>
				</form>
				<hr>
			</div>
		</div>
        
        <div id="results">
        	<div>
        		<h2>Results</h2>
        		<p>
        			Below are your rough calculations. Please <strong>double check them yourself</strong>. Don't use it 
        			as an excuse to not aim for 100% because you don't need it.
        		</p>
        		<table id="results_table">
        			<thead>
        				<tr>
		    				<th rowspan="2">Module</th>
		    				<th rowspan="2">Exam Weighting</th>
		    				<th colspan="4">Req. % for...</th>
		    			</tr>
        				<tr>
		    				<th>1st</th>
		    				<th>2-1</th>
		    				<th>2-2</th>
		    				<th>3rd</th>
		    			</tr>
        			</thead>
        			<tbody>
        				<tr>
		    				<td colspan="6">Calculating them...</td>
		    			</tr>
        			</tbody>
        		</table>
			</div>
			<hr>
		</div>
    </div>
{% endblock %}
